@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Admin only</h1>
    <p>Learn about adding default admin users on <a href="www.simutaroman.com">www.simutaroman.com</a> :).</p>
</div>
